
.header{
    background: #0f4c75;
    color: aliceblue;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    top: 0;
    width: 100%; 
    left: 0; 
}

.container {
    max-width: 1200px;
    width: 100%;
    flex: 1;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    margin: 0 auto;
}
figure{
    padding: 0px;
    display: flex;
}
/* Selector descendente */

.menu { 
    height: inherit;
} 

.header ol{
    display: flex;   
    height: inherit; 
}
  
.header ol li { 
    height: inherit;
}

.header a{
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0px 40px;

}

ol, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background: white;
    font-family:  'Roboto', Arial;
    /*padding-top: 70px;  Relleno superior igual a la altura de la cabecera*/
    margin: 0px 0px 0px 0px;
}

h1{
    line-height: 1.5 ;
    font-size: 40px;
    letter-spacing: -.2px;
    margin: 0px 0px 0px 20px;
   
}
h2{
    color: black;
    padding: 40px 40px;

}

h3{
    margin: 5px 0px;
}

.hero{
    height: 300px;
    background-color: #0f4c75;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;

}

.hero-image{
    object-fit: cover;
}



.exp-hyundai{
    border: 1px solid white;
    border-radius: 30px;
    /* background-color: #3282b8; */
    margin: 10px 100px;
    padding: 25px;
    flex-wrap: wrap;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);

}
.exp-hyundai-title{
    font-size: 30px;
    margin-top: 0px;
}

.exp-hyundai-date{
    margin: 0px;
}
.exp-hyundai-description{
    font-size: 20px;
}

.project {
    display: flex;
    justify-content: space-around;
    padding: 0px 100px;
    flex-wrap: wrap;
}

.hult-details{
    width: 48%;
    margin: 1%;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #eeefff ;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    
}

.project img{
    height: 305px;
    object-fit: cover; 
    
}

.event-details{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: left;
    font-size: 20px;
    border-radius: 10px;
    
}

.project-hult{
    text-align: center;
    font-size: 30px;
}

.exp-hult-imageContainer{
    margin-block-start: 0%;
    margin-block-end: 0%;
    margin-inline-end: 0%;
    margin-inline-start: 0%;
}

.footer{
    background-color: #0f4c75;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}

.social {
    display: flex;
    justify-content: center;
    padding: 0px 0px 60px 0px;
    flex-wrap: wrap;
}

.mail, .linkedin, .instagram, .twitter{
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    margin: 0px 40px;
    
}

.linkedin {
    background-image: url('./images/linkedin.png');
}

.mail{
    background-image: url('./images/mail.png');
}

.instagram{
    background-image: url('./images/instagram.png');
}

.twitter{
    background-image: url('./images/twitter.png');
}
.footer p{
    display: flex;
    font-size: medium;
    font-weight: bold;
    flex-wrap: wrap;
}

@media screen and (max-width:320px){
    body

}

@media screen and (max-width:480px){
    body{
        margin: 0px -10px 0px 0px;

    }

    .event-details{
        font-size: 12px;
    }
    .event-details h3{
        font-size: 18px;
    }

    .event-details {
        margin: -3em 2em 1em;
        padding: 1em;
    }  

    .hult-details img{
        max-height: 250px;
        object-position: 40% 25%; 
    }

    .mail, .linkedin, .instagram, .twitter{
        margin: 0px 20px;
        width: 30px;
        height: 30px;
        background-size: 30px;
        
    }

    .footer p{
        font-size: 1em;
    }
    

}

/* 768 resolucion iPad, entonces debo trabajar con un pixel menos */
@media screen and (max-width:767px){
    .header{
        display: block;
        height: auto;
    }

    .header .logo{
        text-align: center;
        display: block;
    }

    .header ol{
        display: initial;
    }

    .header ol li{
        height: 50px;
    }

    .header a {
        justify-content: center;
    }

    .exp-hyundai{
        display: block;
    }

    .logo {
        padding: 10px;
        margin: 0;
    }

    .hult-details{
        width: auto;
        flex-shrink: initial;
    }

    .hult-details img{
        width: 100%;
        /* max-height: 250px;
        object-position: 25% 25%; */
    }

    

}

@media screen and (max-width:1024px){

}