@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?tc7q2y');
    src:  url('fonts/icomoon.eot?tc7q2y#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?tc7q2y') format('truetype'),
      url('fonts/icomoon.woff?tc7q2y') format('woff'),
      url('fonts/icomoon.svg?tc7q2y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e9bd";
  }
.header{
    background: #1b262c;
    color: aliceblue;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    top: 0;
    width: 100%; 
    left: 0; 
}

.container {
    max-width: 1200px;
    width: 100%;
    flex: 1;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    margin: 0 auto;
}
figure{
    padding: 0px;
    display: flex;
}
/* Selector descendente */

.menu { 
    height: inherit;
} 

.header ol{
    display: flex;   
    height: inherit; 
}
  
.header ol li { 
    height: inherit;
}

.header a{
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0px 40px;

}

ol, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background: white;
    font-family:  'Roboto', Arial;
    /*padding-top: 70px;  Relleno superior igual a la altura de la cabecera*/
    margin: 0px 0px 0px 0px;
}

h1{
    line-height: 1.5 ;
    font-size: 30px;
    letter-spacing: -.2px;
    margin: 0px 0px 0px 20px;
    width: 48%; 
}
h2{
    color: black;
    padding: 40px 40px;

}

h3{
    margin: 5px 0px;
}

.hero{
    height: auto;
    background-color: #1b262c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;

}

.hero-image{
    object-fit: cover;
    /* width: 48%; */
}



.exp-hyundai{
    border: 1px solid white;
    border-radius: 30px;
    /* background-color: #3282b8; */
    margin: 10px 100px;
    padding: 25px;
    flex-wrap: wrap;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);

}
.exp-hyundai-title{
    font-size: 30px;
    margin-top: 0px;
}

.exp-hyundai-date{
    margin: 0px;
}
.exp-hyundai-description{
    font-size: 20px;
}

.project {
    display: flex;
    justify-content: space-around;
    padding: 0px 100px;
    flex-wrap: wrap;
}

.hult-details{
    width: 48%;
    margin: 1%;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #eeefff ;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    
}

.project img{
    height: 305px;
    object-fit: cover; 
    
}

.event-details{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: left;
    font-size: 20px;
    border-radius: 10px;
    
}

.project-hult{
    text-align: center;
    font-size: 30px;
}

.exp-hult-imageContainer{
    margin-block-start: 0%;
    margin-block-end: 0%;
    margin-inline-end: 0%;
    margin-inline-start: 0%;
}

.footer{
    background-color: #1b262c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}

.social {
    display: flex;
    justify-content: center;
    padding: 0px 0px 60px 0px;
    flex-wrap: wrap;
}

.mail, .linkedin, .instagram, .twitter{
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    margin: 0px 40px;
    
}

.linkedin {
    background-image: url('./images/linkedin.png');
}

.mail{
    background-image: url('./images/mail.png');
}

.instagram{
    background-image: url('./images/instagram.png');
}

.twitter{
    background-image: url('./images/twitter.png');
}
.footer p{
    display: flex;
    font-size: medium;
    font-weight: bold;
    flex-wrap: wrap;
}

.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    display: block;
    text-align: center;
    line-height: 40px;
    position: fixed;
    z-index: 10;
    left: 10px;
    top: 10px;
    color: white;
    font-size: 20px;
    display: none;
}


@media screen and (max-width:320px){
    

}

@media screen and (max-width:480px){
    body{
        margin: 0px -10px 0px 0px;

    }

    h1 {
        font-size: 1em;
    }

    .event-details{
        font-size: 12px;
    }
    .event-details h3{
        font-size: 18px;
    }

    .event-details {
        margin: -3em 2em 1em;
        padding: 1em;
    }  

    .hult-details img{
        max-height: 250px;
        object-position: 40% 25%; 
    }

    .mail, .linkedin, .instagram, .twitter{
        margin: 0px 20px;
        width: 30px;
        height: 30px;
        background-size: 30px;
        
    }

    .footer p{
        font-size: .5em;
    }
    
}

/* 768 resolucion iPad, entonces debo trabajar con un pixel menos */
@media screen and (max-width:767px){

    .burger-button{
        display: block;
    }

    .hero{
        height: auto;
        position: relative;
        padding: 2em;
    }

    h1{
        text-shadow: 1px 2px 2px #000;
        z-index: 2;
    }
    .hero-image{
        position: absolute;
        z-index: 1;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        filter: opacity(80%) blur(1px);
        height: 100%;
       
    }
    .header{
        display: block;
        height: auto;
    }

    .header .logo{
        text-align: center;
        display: block;
    }

    .header ol{
        display: initial;
    }

    .header ol li{
        height: 50px;
    }

    .header a {
        justify-content: center;
        height: 40px;
        font-size: 1.8em;
        margin-bottom: .5em;
        border: 2px solid white;

    }

    .exp-hyundai{
        display: block;
    }

    .logo {
        padding: 10px;
        margin: 0;
    }

    .hult-details{
        width: auto;
        flex-shrink: initial;
    }

    .hult-details img{
        width: 100%;
        /* max-height: 250px;
        object-position: 25% 25%; */
    }

    .menu{
        position: fixed;
        background: #0f4c75b3;
        z-index: 3;
        top: 0; 
        left: 0;
        width: 100%;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        left:-100%;
        transition: .3s;
    }

    .menu.is-active{
        left: 0;
    }

    

}

@media screen and (max-width:1024px){

}